<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<package name="com.donghk.entity" />
		<package name="com.donghk.dto" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.donghk.core.interceptor.DbInterceptor"></plugin>
	</plugins>

</configuration>